@model BRTailor.Design

@{
    ViewBag.Title = "AddDesign";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddDesign</h2>
<form method="POST" action="/Staff/AddDesign" enctype = "multipart/form-data">
    @*Customer Portion*@
    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add  Design</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-3">
                        <label>Design Code</label>
                        <input type="text" class="form-control is-valid" id="Design_Code" name="Design_Code" required>
                    </div>
                    <div class="col-xs-3">
                        <label>Design Price</label>
                        <input type="text" class="form-control is-valid" id="Design_Price" name="Design_Price" required>
                    </div>
                    <div class="col-xs-3">
                        <label>Design Image</label>
                       
                            <div class="controls">
                                <input type="file" class="form-control" id="Design_Image" name="Design_Image">
                           
                        </div>
                    </div>
                    <div class="col-xs-3">
                        
                            <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 27px;">

                      
                    </div>
                </div>
            </div>
        </section>
</div>
</form>