USE [BRTailor]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Staff]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Measurment]
GO
ALTER TABLE [dbo].[Order] DROP CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Measurment] DROP CONSTRAINT [FK_Measurment_MeasurmentType]
GO
ALTER TABLE [dbo].[BookingItem] DROP CONSTRAINT [FK_BookingItem_Booking]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Staff]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Order]
GO
/****** Object:  Table [dbo].[MeasurmentType]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[MeasurmentType]
GO
/****** Object:  Table [dbo].[Measurment]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Measurment]
GO
/****** Object:  Table [dbo].[Designs]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Designs]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[BookingItem]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[BookingItem]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[Booking]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [BRTailor]    Script Date: 12/18/2020 5:54:15 PM ******/
DROP DATABASE [BRTailor]
GO
/****** Object:  Database [BRTailor]    Script Date: 12/18/2020 5:54:15 PM ******/
CREATE DATABASE [BRTailor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BRTailor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BRTailor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BRTailor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BRTailor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BRTailor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BRTailor]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/18/2020 5:54:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Bookin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[Customer_Address] [nvarchar](50) NULL,
	[Customer_Phone] [nvarchar](50) NULL,
	[Customer_City] [nvarchar](50) NULL,
	[Total] [int] NULL,
	[Discount] [int] NULL,
	[Payable] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Bookin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingItem]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingItem](
	[BT_ID] [int] IDENTITY(1,1) NOT NULL,
	[Booking_ID] [int] NULL,
	[Price] [int] NULL,
	[D_Price] [int] NULL,
	[SubTotal] [int] NULL,
	[Measurment_Type] [nvarchar](50) NULL,
	[D_Code] [nvarchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_BookingItem] PRIMARY KEY CLUSTERED 
(
	[BT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[Customer_Phone] [nvarchar](50) NULL,
	[Customer_City] [nvarchar](50) NULL,
	[Customer_Address] [nvarchar](150) NULL,
	[Customer_image] [nvarchar](150) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Designs]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designs](
	[Design_ID] [int] IDENTITY(1,1) NOT NULL,
	[Design_Code] [nvarchar](50) NULL,
	[Design_Image] [nvarchar](50) NULL,
	[Design_Price] [int] NULL,
 CONSTRAINT [PK_Designs] PRIMARY KEY CLUSTERED 
(
	[Design_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurment]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurment](
	[Measurment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Measurment_Type_ID] [int] NULL,
	[Measurment_Type] [nvarchar](50) NULL,
	[Customer_ID] [int] NULL,
	[Length] [float] NULL,
	[Hip] [float] NULL,
	[Gidrii] [float] NULL,
	[CrossBack] [float] NULL,
	[Chest] [float] NULL,
	[Shoulder] [float] NULL,
	[Waist] [int] NULL,
	[Sleeves] [nvarchar](20) NULL,
	[arms] [float] NULL,
	[CollarSize] [float] NULL,
	[Tera] [float] NULL,
	[Dcollor] [nvarchar](20) NULL,
	[Bottom] [float] NULL,
	[SidePocket] [nvarchar](10) NULL,
	[FrontPocket] [nvarchar](10) NULL,
	[Ghera] [nvarchar](20) NULL,
	[suitDesign] [nvarchar](20) NULL,
	[btnDesign] [nvarchar](20) NULL,
	[Stitch] [nvarchar](20) NULL,
	[CoatButton] [nvarchar](20) NULL,
	[CoatFitting] [nvarchar](20) NULL,
	[Gheera_num] [int] NULL,
	[Comments] [nvarchar](500) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Measurment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurmentType]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurmentType](
	[Measurment_Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Measurment_Type] [nvarchar](50) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_MeasurmentType] PRIMARY KEY CLUSTERED 
(
	[Measurment_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Customer_Name] [nvarchar](50) NULL,
	[Measurment_ID] [int] NULL,
	[Measurment_Type_ID] [int] NULL,
	[Measurment_Type] [nvarchar](50) NULL,
	[Staff_ID] [int] NULL,
	[Staff_Position] [nvarchar](50) NULL,
	[Staff_Name] [nvarchar](50) NULL,
	[Order_Date] [datetime] NULL,
	[Return_Date] [date] NULL,
	[Price] [int] NULL,
	[Status] [nvarchar](15) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 12/18/2020 5:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID] [int] IDENTITY(1,1) NOT NULL,
	[Staff_Name] [nvarchar](50) NULL,
	[Staff_Address] [nvarchar](50) NULL,
	[Staff_Phone] [nvarchar](16) NULL,
	[Staff_Position] [nvarchar](50) NULL,
	[Staff_CNIC] [nvarchar](20) NULL,
	[Staff_image] [nvarchar](150) NULL,
	[Staff_Email] [nvarchar](50) NULL,
	[OrdersCompleted] [int] NULL,
	[OrdersInProcess] [int] NULL,
	[TotalAmount] [int] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4', N'Operator')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Receptionist')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fdffae0c-2527-4e8e-9ce9-b6e0a0a8077c', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ef0dbfa4-c096-4978-8810-382d721777fe', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'656dae6b-b92c-4c09-bd5b-4f52b2425a20', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'656dae6b-b92c-4c09-bd5b-4f52b2425a20', N'super@br.com', 0, N'AOp9PJ7CV3Q89FMaqxmaOFTrddFvcMziFrPAvrx1cBz8Smj568/ZdtTFqx4EWvCccg==', N'7b7be941-02db-4809-a6a1-d2131db0d5d0', NULL, 0, 0, NULL, 1, 0, N'super@br.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'db47ee15-b3e1-40b4-a41d-c86200c34ce7', N'Operator@Br.com', 0, N'APYr/tdceNlp254CyhIjzUInNF2c5/q6J5I6jv+G5ktyalJAJLi4Y7fTE/ahvhBOIw==', N'cc08a0ee-c18a-4bfb-a2e5-4a56df1ebd7b', NULL, 0, 0, NULL, 1, 0, N'Operator@Br.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'ef0dbfa4-c096-4978-8810-382d721777fe', N'Receptionist@br.com', 0, N'AAk3Pi9POY/Hq6DbdVeLMb+tRpqq26qgqimAStWwsC68MZ8xA174jmOTQxeGGFtmLg==', N'aa6ce79f-89be-4910-872a-7c22df095d43', NULL, 0, 0, NULL, 1, 0, N'Receptionist@br.com')
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Bookin_ID], [Customer_ID], [Customer_Name], [Customer_Address], [Customer_Phone], [Customer_City], [Total], [Discount], [Payable], [date]) VALUES (19, 11, N'Hussnain', N'JT', N'03214200777', N'Karachi', 4800, 1800, 3000, CAST(N'2020-12-11T17:52:37.300' AS DateTime))
INSERT [dbo].[Booking] ([Bookin_ID], [Customer_ID], [Customer_Name], [Customer_Address], [Customer_Phone], [Customer_City], [Total], [Discount], [Payable], [date]) VALUES (23, 12, N'Haider', N'CT', N'0312888888', N'Lahore', 1200, 0, 1200, CAST(N'2020-12-13T10:54:18.660' AS DateTime))
INSERT [dbo].[Booking] ([Bookin_ID], [Customer_ID], [Customer_Name], [Customer_Address], [Customer_Phone], [Customer_City], [Total], [Discount], [Payable], [date]) VALUES (24, 12, N'Haider', N'CT', N'0312888888', N'Lahore', 2000, 0, 2000, CAST(N'2020-12-14T14:26:04.967' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
SET IDENTITY_INSERT [dbo].[BookingItem] ON 

INSERT [dbo].[BookingItem] ([BT_ID], [Booking_ID], [Price], [D_Price], [SubTotal], [Measurment_Type], [D_Code], [date]) VALUES (13, 19, 1200, 2000, 3200, N'Kurta', N'PR_1', CAST(N'2020-12-11T17:52:37.300' AS DateTime))
INSERT [dbo].[BookingItem] ([BT_ID], [Booking_ID], [Price], [D_Price], [SubTotal], [Measurment_Type], [D_Code], [date]) VALUES (14, 19, 600, 1000, 1600, N'Shalwar', N'PR_3', CAST(N'2020-12-11T17:52:37.300' AS DateTime))
INSERT [dbo].[BookingItem] ([BT_ID], [Booking_ID], [Price], [D_Price], [SubTotal], [Measurment_Type], [D_Code], [date]) VALUES (19, 23, 1200, 0, 1200, N'Kurta', NULL, CAST(N'2020-12-13T10:54:18.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookingItem] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Customer_ID], [Customer_Name], [Customer_Phone], [Customer_City], [Customer_Address], [Customer_image]) VALUES (11, N'Hussnain', N'03214200777', N'Karachi', N'JT', NULL)
INSERT [dbo].[Customer] ([Customer_ID], [Customer_Name], [Customer_Phone], [Customer_City], [Customer_Address], [Customer_image]) VALUES (12, N'Haider', N'0312888888', N'Lahore', N'CT', NULL)
INSERT [dbo].[Customer] ([Customer_ID], [Customer_Name], [Customer_Phone], [Customer_City], [Customer_Address], [Customer_image]) VALUES (13, N'Bilal', N'03123112311', N'ISB', N'G-11', NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Designs] ON 

INSERT [dbo].[Designs] ([Design_ID], [Design_Code], [Design_Image], [Design_Price]) VALUES (1, N'PR_1', N'/assets/images/admin-settings-male.png', 2000)
INSERT [dbo].[Designs] ([Design_ID], [Design_Code], [Design_Image], [Design_Price]) VALUES (2, N'PR_2', N'/assets/images/admin-settings-male.png', 1500)
INSERT [dbo].[Designs] ([Design_ID], [Design_Code], [Design_Image], [Design_Price]) VALUES (3, N'PR_3', N'/assets/images/admin-settings-male.png', 1000)
SET IDENTITY_INSERT [dbo].[Designs] OFF
SET IDENTITY_INSERT [dbo].[Measurment] ON 

INSERT [dbo].[Measurment] ([Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Customer_ID], [Length], [Hip], [Gidrii], [CrossBack], [Chest], [Shoulder], [Waist], [Sleeves], [arms], [CollarSize], [Tera], [Dcollor], [Bottom], [SidePocket], [FrontPocket], [Ghera], [suitDesign], [btnDesign], [Stitch], [CoatButton], [CoatFitting], [Gheera_num], [Comments]) VALUES (10, 12, N'Trouser', 11, 1, NULL, NULL, NULL, 1, 1, NULL, N'Round', 1, NULL, 1, N'Bain', NULL, NULL, NULL, N'abcd', N'Simple', N'Simple', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Measurment] ([Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Customer_ID], [Length], [Hip], [Gidrii], [CrossBack], [Chest], [Shoulder], [Waist], [Sleeves], [arms], [CollarSize], [Tera], [Dcollor], [Bottom], [SidePocket], [FrontPocket], [Ghera], [suitDesign], [btnDesign], [Stitch], [CoatButton], [CoatFitting], [Gheera_num], [Comments]) VALUES (11, 11, N'Shalwar', 11, 12, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 6, NULL, NULL, N'no', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Measurment] ([Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Customer_ID], [Length], [Hip], [Gidrii], [CrossBack], [Chest], [Shoulder], [Waist], [Sleeves], [arms], [CollarSize], [Tera], [Dcollor], [Bottom], [SidePocket], [FrontPocket], [Ghera], [suitDesign], [btnDesign], [Stitch], [CoatButton], [CoatFitting], [Gheera_num], [Comments]) VALUES (13, 10, N'Kurta', 13, 12, NULL, NULL, NULL, 12, 12, 12, N'stright', 12, NULL, 12, N'Bain', NULL, NULL, NULL, N'no', N'Simple', N'Simple', N'Double', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Measurment] OFF
SET IDENTITY_INSERT [dbo].[MeasurmentType] ON 

INSERT [dbo].[MeasurmentType] ([Measurment_Type_ID], [Measurment_Type], [Price]) VALUES (10, N'Kurta', 1200)
INSERT [dbo].[MeasurmentType] ([Measurment_Type_ID], [Measurment_Type], [Price]) VALUES (11, N'Shalwar', 600)
INSERT [dbo].[MeasurmentType] ([Measurment_Type_ID], [Measurment_Type], [Price]) VALUES (12, N'Trouser', 600)
SET IDENTITY_INSERT [dbo].[MeasurmentType] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Customer_Name], [Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Staff_ID], [Staff_Position], [Staff_Name], [Order_Date], [Return_Date], [Price], [Status]) VALUES (18, 11, N'Hussnain', 10, 12, N'Trouser', 1, N'Tailor', N'Haider ali', CAST(N'2020-12-15T13:02:35.000' AS DateTime), CAST(N'2020-12-24' AS Date), 200, N'In Process')
INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Customer_Name], [Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Staff_ID], [Staff_Position], [Staff_Name], [Order_Date], [Return_Date], [Price], [Status]) VALUES (19, 11, N'Hussnain', 11, 11, N'Shalwar', 1, N'Tailor', N'Haider ali', CAST(N'2020-12-15T13:02:50.000' AS DateTime), CAST(N'2020-12-18' AS Date), 1000, N'In Process')
INSERT [dbo].[Order] ([Order_ID], [Customer_ID], [Customer_Name], [Measurment_ID], [Measurment_Type_ID], [Measurment_Type], [Staff_ID], [Staff_Position], [Staff_Name], [Order_Date], [Return_Date], [Price], [Status]) VALUES (21, 12, N'Haider', NULL, 11, N'Shalwar', 1, N'Tailor', N'Haider ali', CAST(N'2020-12-14T16:34:45.000' AS DateTime), CAST(N'2020-12-19' AS Date), 200, N'In Process')
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Staff_ID], [Staff_Name], [Staff_Address], [Staff_Phone], [Staff_Position], [Staff_CNIC], [Staff_image], [Staff_Email], [OrdersCompleted], [OrdersInProcess], [TotalAmount]) VALUES (1, N'Haider ali', N'Johar town', N'99999', N'Tailor', N'111111', NULL, N'haider@gmail.com', 0, 5, 3100)
INSERT [dbo].[Staff] ([Staff_ID], [Staff_Name], [Staff_Address], [Staff_Phone], [Staff_Position], [Staff_CNIC], [Staff_image], [Staff_Email], [OrdersCompleted], [OrdersInProcess], [TotalAmount]) VALUES (3, N'Shahzaib', N'Johar town', N'564565411', N'Tailor', N'34653645111', NULL, N'shahzaib@gmail.com', 0, 1, 1400)
SET IDENTITY_INSERT [dbo].[Staff] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/18/2020 5:54:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customer]
GO
ALTER TABLE [dbo].[BookingItem]  WITH CHECK ADD  CONSTRAINT [FK_BookingItem_Booking] FOREIGN KEY([Booking_ID])
REFERENCES [dbo].[Booking] ([Bookin_ID])
GO
ALTER TABLE [dbo].[BookingItem] CHECK CONSTRAINT [FK_BookingItem_Booking]
GO
ALTER TABLE [dbo].[Measurment]  WITH CHECK ADD  CONSTRAINT [FK_Measurment_MeasurmentType] FOREIGN KEY([Measurment_Type_ID])
REFERENCES [dbo].[MeasurmentType] ([Measurment_Type_ID])
GO
ALTER TABLE [dbo].[Measurment] CHECK CONSTRAINT [FK_Measurment_MeasurmentType]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Measurment] FOREIGN KEY([Measurment_ID])
REFERENCES [dbo].[Measurment] ([Measurment_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Measurment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([Staff_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Staff]
GO
USE [master]
GO
