@model BRTailor.Measurment
@{
    ViewBag.Title = "CustomerByID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="panel_header">
    <h2 class="title pull-left">Customer Measurments</h2>
    <div class="actions panel_actions pull-right">
        <i class="box_toggle fa fa-chevron-down"></i>
        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
        <i class="box_close fa fa-times"></i>
    </div>
</header>
<input type="text" value="@TempData["CustomerID"]" name="id" id="id" hidden>
<div class="content-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>Tabs</h4>
            @Html.DropDownList("Measurment_Type_ID", null, "-select- ", htmlAttributes: new { @class = "form-control", name = "Measurment_Type_ID", id = "Measurment_Type_ID" })
            <div>
                @Html.Partial("_CustomerByID")
            </div>


        </div>

    </div>
</div>

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>

    $(document).ready(function () {
        $("#Type,#Length,#Arms,#Tera,#CollorS,#Chest,#GheraD,#Ghera,#Kaaf,#Seelves,#Hip,#Gidrii,#Stitchdiv,#Bottom,#CollorD,#SideP,#FrontP,#SuitD,#ButtonD,#Stitch,#coatButton,#coatFitting,#Cross,#Comments,#Shoulder,#Waist ").hide();

        $("#Measurment_Type_ID").change(function () {

            var MeasurId = parseInt($(this).val());
            var user = document.getElementById("id").value;

            $.ajax({
                url: "/Customer/CustomerByID",
                type: "GET",
                datatype: "json",
                data: { measurment_type: MeasurId, user: user },
                success: function (data) {
                    if (MeasurId == 10) {
                        $("#Type,#Length,#Arms,#Tera,#CollorS,#Chest,#GheraD,#Ghera,#Kaaf,#Seelve,#Stitchdiv,#CollorD,#SideP,#FrontP,#SuitD,#ButtonD,#Stitch,#Comments,#Shoulder ").show();
                    }
                    if (MeasurId == 11) {
                        $("#Type,#Length,#GheraD,#Ghera,#Bottom,#FrontP#Comments ").show();
                    }
                    if (MeasurId == 12)
                    { $("#Type,#Length,#GheraD,#Ghera,#Bottom,#FrontP#Comments ").show(); }
                    if (MeasurId == 13)
                    { $("#Type,#Length,#GheraD,#Ghera,#Bottom,#FrontP#Comments ").show(); }
                    if (MeasurId == 14)
                    { $("#Type,#Length,#GheraD,#Ghera,#Bottom,#FrontP#Comments ").show(); }
                    if (MeasurId == 15)
                    { $("#Type,#Length,#GheraD,#Ghera,#Bottom,#FrontP#Comments ").show();}

                }
            });

        });
    });
</script>