@model dynamic

@{
    ViewBag.Title = "CustomerMeasurment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Button.css" rel="stylesheet" />
<div class="container text-center">
    <div class="row">
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>
        <div class="col-sm-5">
            <h1>Kurta</h1>
            <button class="btn2">
                <span class="textOut2"><b>Hover Me</b></span>
                <span class="textIn2"><b>Click Me</b></span>
            </button>
        </div>

    </div>
</div>